
The Great Rescue - Copy/Temp/UnityLockfile
The Great Rescue - Copy/Library/shadercompiler-UnityShaderCompiler.exe0.log
*.log
The Great Rescue - Copy/Library/shadercompiler-UnityShaderCompiler.exe0.log
The Great Rescue - Copy/Library/CrashedAssetImports.txt
The Great Rescue - Copy/Library/gfu/cache/branches.yaml
The Great Rescue - Copy/Library/gfu/cache/gitlog.yaml
The Great Rescue - Copy/Library/gfu/cache/gitstatusentries.yaml
The Great Rescue - Copy/Library/gfu/cache/gittrackingstatus.yaml
